/* You can add global styles to this file, and also import other style files */

body {
    font-family: sans-serif;
} 

.container{
    margin-left: 5%;
    margin-right: 5%;
}

form.common-form {
    display: flex;
    flex-direction: column;
    width: 300px;
    text-align: center;
    margin: auto;
}
.form-input{
    height: 35px;
    padding-left: 16px;
    margin-bottom: 20px;
}
.form-button{
    padding: 10px 10px;
    // height: 35px;
    border:1px solid blue;
    cursor: pointer;
}
.error-p{
    color:red;
}

.message-p{
    color:green;
    text-align: center;
}

.carousel-caption{
    background-color: #00000080;
    border-radius: 5px
}
.carousel-control-prev-icon,.carousel-control-next-icon{
    background-color: black;
    border-radius: 5px
}


.invalid-input{
    color: red;
    font-size: 12px;
    margin-top: -20px;
    text-align: left
}
button:disabled{
    cursor: not-allowed;
}


.max-width{
    width: 100%;
}




/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
