.search{
    margin: 25px auto;
    width: 800px;
    border-top: 1px solid #ddd;
    padding: 10px;
     img{
        width: 100%;
     }
     p{
        margin: 5px;
     }
     span{
        margin-right: 10px;
     }
     .details{
      a{
         text-decoration: none;
      }
        h6{
            color: blue;
            font-size: 24px;
        }
     }
}