<ngb-carousel *ngIf="popularProducts">
	<ng-template ngbSlide *ngFor="let item of popularProducts">
		<div class="picsum-img-wrapper">
			<a routerLink="/details/{{item.id}}"><img class="product-header-img" src="{{item.Image}}" alt="Random first slide" /></a>
		</div>
		<div class="carousel-caption">
			<h3>{{item.name}}</h3>
			<p>{{item.Description}}</p>
		</div>
	</ng-template>
</ngb-carousel>

<div class="product-list-wrapper">
	<h1>Trendy Products</h1>
	<div class="row">
		<div class="col-sm-3" *ngFor="let item of trendyProducts">
			<div class="product-item">
				<a routerLink="/details/{{item.id}}"><img src="{{item.Image}}"></a>
			
			<div class="product-details">
             <h6 class="name-head">{{item.name}}</h6>
			 <div class="product-price">
				<h6>{{item.Price}}</h6>
			 </div>
			 <div class="product-color">
				<h6>{{item.Color}}</h6>
			 </div>
			</div>
			<div class="Product-footer">
				<a routerLink="/details/{{item.id}}">View Detail</a>
				<a href="#">Add to Cart</a>
			</div>
		</div>
		</div>

		

	

		

	</div>
</div>